.h-tag {
	background-color: #ccc;
	display: inline-block;
	padding: 0 16px;
	height: 34px;
	line-height: 34px;
	position: relative;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

.circle {
	border-radius: 17px;
}

.triangle {
	width: 34px;
	height: 34px;
	position: absolute;
	left: -34px;
	top: 0px;
}

.triangle::before {
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
	border: 17px solid;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	top: 0;
	right: 0;
}

.triangle::after {
	content: "";
	width: 8px;
	height: 8px;
	position: absolute;
	top: 13px;
	right: -6px;
	background-color: #FFF;
	border-radius: 100%;
	border: 1px solid rgba(0,0,0,.1);
}